<div class="navbar-forwardly">
    <!-- Logo -->
    <div class="navbar-forwardly-left">
       <%= link_to root_path, class: "navbar-forwardly-logo" do %>
        <%= image_tag 'forwardly-logo.png', alt: '' %>
      <% end %>
      <%= link_to root_path, class: "navbar-forwardly-logo navbar-forwardly-logo-name" do %>
        forwardly
      <% end %>
    </div>


    <!-- Right Navigation -->
    <div class="navbar-forwardly-right">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete, class: "navbar-forwardly-item navbar-forwardly-link" do %>
        Log out
        <% end %>
      <% else %>
        <!-- Login link (when logged out) -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-forwardly-item navbar-forwardly-link" %>
        <%= link_to t(".sign_in", default: "I am a freelancer"), new_user_session_path, class: "navbar-forwardly-item navbar-forwardly-button" %>
      <% end %>
    </div>
  </div>
